html,body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: rgb(0,0,0);
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size:xx-large;
    margin-left: 25px;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar{
    width: 10%;
    background-color: rgb(20, 20, 20);
    margin: 0px;
    padding: 1px;
    border: 1px;
}

.list{
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: large;
}

.content{
    width: 90%;
    background-color: rgb(255,255,255);
}

img{
    display: block;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 60px;
    width: 400px;
    height: 300px;
    box-shadow: 2px 2px 5px;
    border-radius: 2px;
}

.img1{
    transition: transform 0.25s;
}

.img1:hover {
    transform: scale(1.1);
}

.img2{
    transition: transform 0.25s;
}

.img2:hover {
    transform: scale(1.1);
}

.img3{
    transition: transform 0.25s;
}

.img3:hover {
    transform: scale(1.1);
}

.img4{
    transition: transform 0.25s;
}

.img4:hover {
    transform: scale(1.1);
}

.img5{
    transition: transform 0.25s;
}

.img5:hover {
    transform: scale(1.1);
}

.img6{
    transition: transform 0.25s;
}

.img6:hover {
    transform: scale(1.1);
}

footer{
    display: flex;
    height: 200px;
    background-color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.footerlist1{
    margin-left: 500px;
}

.footerlist2{
    margin-left: 300px;
}

.footerlist3{
    margin-left: 300px;
}